<!DOCTYPE html>
<html>
<head>
    <title>Invitation to Join</title>
</head>
<body>
    <h1>You are invited to join our application!</h1>
    <p>Please click the link below to accept your invitation and set up your account:</p>
    <p><a href="{{invitationLink}}">Accept Invitation</a></p>
    <p>If you have any questions, please contact our support team.</p>
</body>
</html>
